/* Import */
@import url(links.css);
@import url(basicstyle.css);
@import url(table.css);

.blue {
color:blue;
}

/* set width and center page */
div#wrapper {
  margin: auto;
  width:950px;
  background: #fff;
}
article {
  padding-left: 20px;
  padding-right:20px;
}

form {
	border:none;
}

div#wrapper{
	overflow:auto;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 4px 5px 30px 0px rgba(0, 0, 0, 0.59);
	-moz-box-shadow:    4px 5px 30px 0px rgba(0, 0, 0, 0.59);
	box-shadow:         4px 5px 30px 0px rgba(0, 0, 0, 0.59);
	border: 2px solid #dddddd;
	border-top:none;
	
} /* clearer-fix */

div#headerWrapper {
	background: rgb(109,179,242); /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover, rgba(109,179,242,1) 0%, rgba(54,144,240,1) 76%, rgba(30,105,222,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(109,179,242,1)), color-stop(76%,rgba(54,144,240,1)), color-stop(100%,rgba(30,105,222,1))); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover, rgba(109,179,242,1) 0%,rgba(54,144,240,1) 76%,rgba(30,105,222,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover, rgba(109,179,242,1) 0%,rgba(54,144,240,1) 76%,rgba(30,105,222,1) 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover, rgba(109,179,242,1) 0%,rgba(54,144,240,1) 76%,rgba(30,105,222,1) 100%); /* IE10+ */
	background: radial-gradient(ellipse at center, rgba(109,179,242,1) 0%,rgba(54,144,240,1) 76%,rgba(30,105,222,1) 100%); /* W3C */

}
div.hitsPerPage {
	float: right;
	margin-right:10px;

}

html {
	background:#338BEE;
}

span.orderby a {
	text-decoration: none;
}


/**
 * General elements
 */
body {
	color: #333;
	font-family: arial, sans-serif;
	background: #F1F1F1;
}

/** css on price  **/
.price
{
	color: #338BEE;
	font-weight: bold;
	font-style: italic;
}

/* figure & figcaption */
figure {border:1px solid #E6E6E6; box-shadow: 5px 5px 5px #E6E6E6; padding:4px;margin:1em;text-align:center;}
figcaption {font-style:italic;font-size:smaller;padding-left:1em;}

figure.right{margin-right:0;}
figure.top{margin-top:0;}
figure.fullwidth{margin-left:0;margin-right:0;}

/**
 * Layout for header
 */
#header {
	width:950px;
	margin: auto;

}
.siteslogan {
	  position: absolute;
	 top: 6em;
	  right: 45%; 
	  font-style: italic;
	  color: #000;
}

.sitetitle {
	position: absolute;
	top: 2em;
	right: 51%;
}

.sitelogo {
	padding-top:10px;
}


/**
 * Layout for main
 */
#main {
	min-height: 20em;
}

/**
 * Layout for footer
 */
#footer {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right:20px;
  margin-top: 40px;
  border-top: 1px solid #ccc;
  background: #338BEE;
  text-align:center;
  
}
/**
 * Byline
 */
.byline {
  border-top: 1px dashed #ccc;
  font-style: italic;
}
.sitefooter {
  color: #000000;
}
footer#bottom {
  font: italic 0.8em Arial, Helvetica, sans-serif;
  color: #4D4D4D;
}
footer.byline {
  clear: both;
  border-top: 2px dashed #E6E6E6;
  margin-top:2em;
  padding: 1em;
  color: #555555;
  font-size: smaller;
  font-style:italic;
}

footer.byline img {
	padding:2px;
	outline:#999999 groove 1px;
}

h1 {
  border-bottom: 1px solid #ccc;
  text-transform: uppercase;
}
ul.dice {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul.dice li {
  display: inline-block;
  padding: 0;
  margin: 0 4px 0 0;
  width: 32px;
  height: 32px;
  background: url(../img/dice-faces.jpg) no-repeat;
}

 
ul.dice li.dice-1 { background-position: -160px 0px; }
ul.dice li.dice-2 { background-position: -128px 0px; }
ul.dice li.dice-3 { background-position:  -96px 0px; }
ul.dice li.dice-4 { background-position:  -64px 0px; }
ul.dice li.dice-5 { background-position:  -32px 0px; }
ul.dice li.dice-6 { background-position:    0px 0px; }



/** css for shortinfo about game **/
div.gameShortInfo {
	color: #000;
	padding-right:50px;
	padding-left:20px;
}

.buybutton {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #63b8ee), color-stop(1, #468ccf) );
	background:-moz-linear-gradient( center top, #63b8ee 5%, #468ccf 100% );
	background-color:#63b8ee;
	-webkit-border-top-left-radius:7px;
	-moz-border-radius-topleft:7px;
	border-top-left-radius:7px;
	-webkit-border-top-right-radius:0px;
	-moz-border-radius-topright:0px;
	border-top-right-radius:0px;
	-webkit-border-bottom-right-radius:7px;
	-moz-border-radius-bottomright:7px;
	border-bottom-right-radius:7px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
	text-indent:15px;
	border:2px solid #3866a3;
	
	color:#000;
	font-family:Trebuchet MS;
	font-size:35px;
	font-weight:bold;
	font-style:normal;
	height:48px;
	line-height:48px;
	width:120px;
	text-decoration:none;
	text-align:center;
}
.buybutton:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #468ccf), color-stop(1, #63b8ee) );
	background:-moz-linear-gradient( center top, #468ccf 5%, #63b8ee 100% );
	background-color:#468ccf;
}
/** Read more button css **/
.gameinfobutton {
	-moz-box-shadow:inset -50px 0px 0px -50px #bbdaf7;
	-webkit-box-shadow:inset -50px 0px 0px -50px #bbdaf7;
	box-shadow:inset -50px 0px 0px -50px #bbdaf7;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5) );
	background:-moz-linear-gradient( center top, #79bbff 5%, #378de5 100% );
	background-color:#79bbff;
	-webkit-border-top-left-radius:0px;
	-moz-border-radius-topleft:0px;
	border-top-left-radius:0px;
	-webkit-border-top-right-radius:20px;
	-moz-border-radius-topright:20px;
	border-top-right-radius:20px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-radius-bottomright:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:20px;
	-moz-border-radius-bottomleft:20px;
	border-bottom-left-radius:20px;
	text-indent:0;
	border:1px solid #84bbf3;
	display:inline-block;
	color:#000000;
	font-family:Arial Black;
	font-size:20px;
	font-weight:bold;
	font-style:italic;
	height:44px;
	line-height:40px;
	width:110px;
	text-decoration:none;
	text-align:center;
}
.gameinfobutton:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #79bbff) );
	background:-moz-linear-gradient( center top, #378de5 5%, #79bbff 100% );
	background-color:#378de5;
}
.gameinfobutton:active {
	position:relative;
	top:1px;
}

/** Search bar css **/
div.searchBar {
	padding-top:14.5%;
}

div.searchBar form input {
	border-radius:2px;
}

/** placeholder css **/
::-webkit-input-placeholder { /* WebKit browsers */
   font-style: italic;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
font-style: italic;

}
::-moz-placeholder { /* Mozilla Firefox 19+ */
font-style: italic;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
font-style: italic;

}


/** css for a specifik game **/

div#specifikGameInfo {
	width:60%;
}

/** css for a specifik game **/

div#specifikGameInfo p{
	font-size:14px;
}

/** css for a specifik game **/

div#specifikGameInfo ul li{
	font-size:14px;
}

/** login form css **/
form.login {
	padding-bottom: 10px;
	
}

.button {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #63b8ee), color-stop(1, #468ccf) );
	background:-moz-linear-gradient( center top, #63b8ee 5%, #468ccf 100% );
	background-color:#63b8ee;
	-webkit-border-top-left-radius:7px;
	-moz-border-radius-topleft:7px;
	border-top-left-radius:7px;
	-webkit-border-top-right-radius:0px;
	-moz-border-radius-topright:0px;
	border-top-right-radius:0px;
	-webkit-border-bottom-right-radius:7px;
	-moz-border-radius-bottomright:7px;
	border-bottom-right-radius:7px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
	text-indent:15px;
	border:2px solid #3866a3;
	
	color:#000;
	font-family:Trebuchet MS;
	font-size:20px;
	font-weight:bold;
	font-style:normal;
	height:48px;
	line-height:48px;
	width:120px;
	text-decoration:none;
	text-align:center;
	
}
form {
	margin-bottom:10px;
}
section.buttons {
	text-align: center;
	margin-bottom:5px;
}

section.buttons a {
	padding: 5px 5px 5px 5px;
	margin: 5px 5px 5px 5px;
	
}
.button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #468ccf), color-stop(1, #63b8ee) );
	background:-moz-linear-gradient( center top, #468ccf 5%, #63b8ee 100% );
	background-color:#468ccf;
}
